<div class="sidebar-right">
  <app-profile-outline></app-profile-outline>
  <!-- <div>
    <p>Hey, <span>John</span>!</p>
  </div> -->

  <div class="key-params">
    <div class="key-param">
      <p class="key">PROJECTS</p>
      <p class="value">30</p>
    </div>
    <div class="key-param">
      <p class="key">TO BE PAID</p>
      <p class="value">$300</p>
    </div>
    <div class="key-param">
      <p class="key">CLEARED</p>
      <p class="value">$480</p>
    </div>
    <div class="key-param">
      <p class="key">CLEARANCE</p>
      <p class="value">$0</p>
    </div>
    <div class="key-param">
      <p class="key">EARNED</p>
      <p class="value">$280</p>
    </div>
    <div class="key-param">
      <p class="key">PAID</p>
      <p class="value">$200</p>
    </div>

    <div class="activity">
      <h1>ACTIVITY</h1>
      <p>$50 paid to John on 12-05-2020</p>
      <p>$50 paid to John on 12-05-2020</p>
      <p>$50 paid to John on 12-05-2020</p>
    </div>
  </div>
</div>
