<ion-content color="primary" *ngIf="projects">
  <div>
    <app-sidebar-left [pageName]="'projects'"></app-sidebar-left>
  </div>

  <div class="body">
    <h2>PROJECTS</h2>

    <div class="header grid">
      <div class="col">PROJECT NAME</div>
      <div class="col">DELIVERY DATE</div>
      <div class="col">EARNING</div>
      <div class="col">EXPENSE</div>
      <div class="col">STATUS</div>
    </div>
    <!-- accordion -->
    <div class="scroll-box">
      <accordion *ngFor="let project of projects">
        <group [project]="project">
          <!-- collapsible: SUB-CONTENT -->
          <table class="mytable" *ngIf="project.staffs.length">
            <tr class="header">
              <td>STAFF NAME</td>
              <td>AMOUNT</td>
              <td>PAID ON</td>
              <td>STATUS</td>
            </tr>
            <tr *ngFor="let staff of project.staffs">
              <!-- staff name -->
              <td>{{ staff.profile.staffName }}</td>

              <!-- amount -->
              <td>
                <div *ngIf="staff.payment.amtToBePaid">
                  ${{ staff.payment.amtToBePaid }}
                </div>
                <div *ngIf="staff.payment.amtPaid">
                  ${{ staff.payment.amtPaid }}
                </div>
              </td>
              <td>
                <div *ngIf="staff.payment.paidOn; else dash">
                  {{ staff.payment.paidOn | date: "dd-MM-yyyy"}}
                </div>
                <ng-template #dash>
                  -
                </ng-template>
              </td>
              <td>
                <div *ngIf="staff.payment.paidOn; else pay">
                  <button class="paid">PAID</button>
                </div>
                <ng-template #pay>
                  <button (click)="payStaff(project, staff)" class="pay">
                    PAY
                  </button>
                </ng-template>
              </td>
            </tr>
          </table>
        </group>
      </accordion>
    </div>
    <!-- end accordion -->
  </div>

  <div>
    <app-sidebar-right></app-sidebar-right>
  </div>
</ion-content>
