<!-- <ion-content>
  <form>

    <div class="form-fields">
      <p>NAME</p>
      <ion-input type="text" placeholder="John Doe" required></ion-input>
    </div>

    <div class="form-fields">
      <p>PASSWORD</p>
      <ion-input type="password" placeholder="John@123" required> </ion-input>

    </div>

    <div class="form-fields">
      <p>E-MAIL</p>
      <ion-input
        type="email"
        placeholder="johndoe123@gmail.com"
        required
      ></ion-input>
    </div>

    <div class="form-fields">
      <p>CLEARANCE TIME</p>
      <ion-input type="text" placeholder="21 days" required></ion-input>
    </div>

    <div class="btn-primary">
      <app-button
        [routerLink]="['/orders']"
        [btnType]="primaryBtn"
      >
    SIGNUP</app-button>
    </div>
  </form>
</ion-content> -->

<ion-content color="primary">
  <div>
    <app-sidebar-left [pageName]="'setting'"></app-sidebar-left>
  </div>

  <div class="body">
    <h2>SETTINGS</h2>
    <div class="form">
      <div  class="input-field">
        <app-input-row [placeholder]="'John Doe'">
          NAME
        </app-input-row>
      </div>
      <div class="input-field">
        <app-input-row [placeholder]="'********'" >
          PASSWORD
        </app-input-row>
      </div>
      <div class="input-field">
        <app-input-row [placeholder]="'johndoe1234@gmail.com'" >
          E-MAIL
        </app-input-row>
      </div>
      <div class="input-field">
        <app-input-row [placeholder]="'21 days'" >
          CLEARANCE TIME
        </app-input-row>
      </div>

      <div class="submit-btn">
        <app-button
        [routerLink]="['/setting']"
        [btnType]="'btn-primary btn-raised'"
      >
      SAVE
    </app-button>
      </div>
    </div>
  </div>

  <div>
    <app-sidebar-right></app-sidebar-right>
  </div>
</ion-content>
