<div class="mypanel">
  <div>

    <!-- order page -->
    <div *ngIf="order" class="row" (click)="toggle.emit()"  >
      <div>{{order.projectName}}</div>
      <div>{{order.deliveryDate | date:'dd-mm-yyyy'}}</div>
      <div>${{order.earning}}</div>
      <div>${{order.expense}}</div>
      <div>{{order.status}}</div>
    </div>

    <!-- staff page -->
    <div *ngIf="staff" class="row" (click)="toggle.emit()"  >
      <div>{{staff.staffName}}</div>
      <div>${{staff.paid}}</div>
      <div>${{staff.earned}}</div>
      <div>{{staff.projects}}</div>
      <div>${{staff.toPay}}</div>
    </div>


    <div class="body" [ngClass]="{ hidden: !opened }">
      <ng-content></ng-content>
    </div>
  </div>
</div>
