<div class="mypanel">
  <div>
    <!-- project page: MAIN CONTENT -->
    <div *ngIf="project" class="row" (click)="toggle.emit()">
      <div class="col">{{ project.profile.projectName }}</div>
      <div class="col">{{ project.profile.delivery | date: "dd-MM-yyyy" }}</div>
      <div class="col">${{ project.payment.amtEarned }}</div>
      <div class="col">
        ${{ project.payment.amtToBePaid + project.payment.amtPaid }}
      </div>
      <div
        *ngIf="project.profile.status === 'PENDING'; else complete"
        class="col pending"
      >
        <!-- <img src="../../../../assets/icon/pending.png" /> -->
        {{ project.profile.status }}
      </div>
      <ng-template #complete>
        <div class="col complete">
          <!-- <img src="../../../../assets/icon/complete.png" /> -->
          {{ project.profile.status }}
        </div>
      </ng-template>
      <!-- <div><img src="../../../../assets/icon/chevron_closed.png"></div> -->
    </div>

    <!-- staff page: MAIN CONTENT -->
    <div *ngIf="staff" class="row" (click)="toggle.emit()">
      <div class="col">{{ staff.profile.staffName }}</div>
      <div class="col">${{ staff.payment.amtPaid }}</div>
      <div class="col">{{ staff.payment.projectPercentage }}%</div>
      <div class="col">{{ staff.profile.projectCount }}</div>
      <div class="col">${{ staff.payment.amtToBePaid }}</div>
      <!-- <div><img src="../../../../assets/icon/chevron_closed.png"></div> -->
    </div>

    <div class="body" [ngClass]="{ hidden: !opened }">
      <ng-content></ng-content>
    </div>
  </div>
</div>
