<ion-content color="primary">
  <div>
    <app-sidebar-left [pageName]="'orders'"></app-sidebar-left>
  </div>

  <div class="body">
    <h2>ACTIVE ORDERS</h2>

    <!-- accordion -->

    <accordion *ngFor="let user of users">
      <group [row]="user">

        <!-- collapsible -->
        <table >
          <tr *ngFor="let staff of users[0].staffDetails">
         
            <td>{{ staff.staffName }}</td>
            <td>{{ staff.paid }}</td>
            <td>{{ staff.earned }}</td>
          </tr>
        </table>
      </group>
    </accordion>

    <!-- end accordion -->
  </div>

  <div>
    <app-sidebar-right></app-sidebar-right>
  </div>
</ion-content>
