<ion-content color="primary">
  <!-- logo header -->
  <div class="head">
    <div class="head--lines first">
      <app-line></app-line>
    </div>
    <img src="../../../assets/logo/logo_BH_full.png" alt="" />
    <div class="head--lines second">
      <app-line></app-line>
    </div>
  </div>

  <!-- toggle -->
  <div class="toggle">
    <div>
      <app-button [btnType]="'btn-login btn-pressed'">
        LOGIN
      </app-button>
    </div>
    <div>
      <app-button
        [routerLink]="['/signup']"
        [btnType]="'btn-signup btn-raised'"
      >
        SIGN UP
      </app-button>
    </div>
  </div>
  <!-- signup form -->
  <div class="body">
    <div>
      <form [formGroup]="user">
        <div class="form-fields">
          <p>USERNAME / EMAIL ID</p>
          <ion-input
            type="email"
            placeholder="johndoe123@gmail.com"
            formControlName="email"
          ></ion-input>
        </div>

        <div class="form-fields">
          <p>PASSWORD</p>
          <ion-input
            type="password"
            placeholder="John@123"
            formControlName="password"
          >
          </ion-input>
        </div>

        <div class="btn-primary">
          <app-button
            [routerLink]="['/projects']"
            [btnType]="'btn-primary'"
            (click)="login()"
          >
            LOGIN
          </app-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
