<ion-content color="primary">
  <div>
    <app-sidebar-left [pageName]="'add-new-project'"></app-sidebar-left>
  </div>

  <div class="body scroll-box">
    <h2>ADD NEW PROJECT</h2>

    <div class="form">
      <div class="input-field">
        <app-input-row [placeholder]="'React Project'">
          PROJECT NAME
        </app-input-row>
      </div>

      <div class="input-field">
        <app-input-row [placeholder]="'6500 (in USD)'">
          PROJECT AMOUNT
        </app-input-row>
      </div>

      <div class="input-field">
        <app-input-row [placeholder]="'12-05-2020'">
          DELIVERY DATE
        </app-input-row>
      </div>

      <h2 class="clear-float p-t-40">ADD STAFF</h2>

      <!-- add staff -->
      <div *ngFor="let i of [].constructor(count)" class="added-staff">
        <div>
          <p>Muskaan</p>
        </div>
        <div>
          <p>100</p>
        </div>
      </div>

      <div class="input-field">
        <app-input-row [placeholder]="'John Doe'">
          STAFF NAME
        </app-input-row>
      </div>

      <div class="input-field">
        <app-input-row [placeholder]="'100 (in USD)'">
          AMOUNT
        </app-input-row>
      </div>

      <div class="add-staff">
        <app-icon-button
          [class]="'primary-raised'"
          [icon]="addProjectIcon"
          (click)="addStaff()"
        ></app-icon-button>
      </div>

      <div class="submit-btn">
        <app-button
          [routerLink]="['/projects']"
          [btnType]="'btn-primary btn-raised'"
        >
          CREATE
        </app-button>
      </div>
    </div>
  </div>

  <div>
    <app-sidebar-right></app-sidebar-right>
  </div>
</ion-content>
