.body {
  width: 66vw;
  float: left;
  margin: 20px 0 0 32px;

  h2 {
    color: saddlebrown;
  }

  h2.clear-float {
    clear: both;
  }

  .p-t-40 {
    padding-top: 40px;
  }

  p {
    margin: 4px 0;

    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #c7a277;
  }

  .form-fields {
    padding-top: 24px;
    width: 45%;
    float: left;
    padding-right: 29px;
  }

  .staff-btn {
    padding-top: 44px;
  }

  .submit-btn {
    margin: 55px;
    float: right;
  }
}

.scroll-box {
  overflow-y: scroll;
  height: 95vh;
}

.scroll-box::-webkit-scrollbar {
  width: 5px;
}

.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 60px;
  background-color: #8a4b00;
}

ion-input,
input {
  height: 50px;

  --padding-start: 24px;
  font-size: 22px;
  color: #d1b18b;

  background: linear-gradient(90deg, #fff2d9 -1.28%, #fff9e4 103.08%);
  box-shadow: inset -7px -5px 8px rgba(255, 255, 255, 0.5),
    inset 5px 5px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

input {
  border: none;
  width: 100%;
  padding-left: 24px;
}

input:focus {
  outline: none;
}

input option {
  border: none;
}

input::placeholder {
  color: #d1b18b;
}
option:hover {
  background-color: linear-gradient(90deg, #fff2d9 -1.28%, #fff9e4 103.08%);
}
