<ion-content color="primary">
  <div>
    <app-sidebar-left [pageName]="'add-new-project'"></app-sidebar-left>
  </div>

  <div class="body scroll-box">
    <h2>ADD NEW PROJECT</h2>

    <div>
      <form [formGroup]="projectForm">
        <div class="form-fields">
          <p>PROJECT NAME</p>
          <ion-input
            type="text"
            placeholder="React Project"
            formControlName="projectName"
          >
          </ion-input>
        </div>

        <div class="form-fields">
          <p>
            PROJECT AMOUNT
          </p>
          <ion-input
            type="number"
            placeholder="$600"
            formControlName="totalAmount"
          >
          </ion-input>
        </div>

        <div class="form-fields">
          <p>
            DELIVERY DATE
          </p>
          <ion-input
            type="date"
            placeholder="12-05-2020"
            formControlName="delivery"
          >
          </ion-input>
        </div>

        <h2 *ngIf="staffList" class="clear-float p-t-40">ADD STAFF</h2>

        <!-- add staff -->
        <div formArrayName="staff" *ngIf="staffList">
          <div *ngFor="let staff of getStaff(projectForm); let i=index">
            <div [formGroupName]="i">
              <div class="form-fields">
                <p>
                  STAFF NAME
                </p>
                <select placeholder="John Doe" formControlName="staffName">
                  <option *ngFor="let staff of staffList.data">
                    {{staff}}
                  </option>
                </select>
              </div>

              <div class="form-fields">
                <p>
                  AMOUNT
                </p>
                <ion-input
                  type="number"
                  placeholder="$100"
                  formControlName="amtToBePaid"
                >
                </ion-input>
              </div>
            </div>
          </div>
          <div class="staff-btn">
            <app-icon-button
              [class]="'primary-raised'"
              [icon]="addProjectIcon"
              (click)="addStaff()"
            ></app-icon-button>
          </div>

          <div class="submit-btn">
            <app-button [btnType]="'btn-primary btn-raised'" (click)="submit()">
              CREATE
            </app-button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <app-sidebar-right></app-sidebar-right>
  </div>
</ion-content>
