<div class="sidebar-left">
  <div class="logo">
    <img src="../../../../assets/logo/logo_BH.png" alt="" />
  </div>

  <!-- middle buttons -->
  <div class="action-btn">
    <!-- projects icon -->
    <div
      *ngIf="pageName != 'projects'; else PressedProject"
      (click)="gotofunc('projects')"
    >
      <app-icon-button [class]="raised" [icon]="projectIcon"></app-icon-button>
    </div>

    <ng-template #PressedProject>
      <div (click)="gotofunc('projects')">
        <app-icon-button
          [class]="pressed"
          [icon]="projectIconActive"
        ></app-icon-button>
      </div>
    </ng-template>

    <!-- staff icon -->
    <div
      *ngIf="pageName != 'staff'; else PressedStaff"
      (click)="gotofunc('staff')"
    >
      <app-icon-button [class]="raised" [icon]="staffIcon"></app-icon-button>
    </div>

    <ng-template #PressedStaff>
      <div (click)="gotofunc('staff')">
        <app-icon-button
          [class]="pressed"
          [icon]="staffIconActive"
        ></app-icon-button>
      </div>
    </ng-template>

    <!-- setting icon -->
    <div
      *ngIf="pageName != 'setting'; else PressedSetting"
      (click)="gotofunc('setting')"
    >
      <app-icon-button [class]="raised" [icon]="settingIcon"></app-icon-button>
    </div>

    <ng-template #PressedSetting>
      <div (click)="gotofunc('setting')">
        <app-icon-button
          [class]="pressed"
          [icon]="settingIconActive"
        ></app-icon-button>
      </div>
    </ng-template>

    <!-- add project icon -->
    <div
      *ngIf="pageName != 'add-new-project'; else PressedAddProject"
      (click)="gotofunc('add-new-project')"
    >
      <app-icon-button
        [class]="primaryRaised"
        [icon]="addProjectIcon"
      ></app-icon-button>
    </div>

    <ng-template #PressedAddProject>
      <div (click)="gotofunc('add-new-project')">
        <app-icon-button
          [class]="primaryPressed"
          [icon]="addProjectIcon"
        ></app-icon-button>
      </div>
    </ng-template>

    <!-- logout icon -->
    <div (click)="gotofunc('login')">
      <app-icon-button [class]="raised" [icon]="logoutIcon"></app-icon-button>
    </div>
  </div>
</div>
