<ion-content color="primary" *ngIf="staffs">
  <div>
    <app-sidebar-left [pageName]="'staff'"></app-sidebar-left>
  </div>

  <div class="body">
    <h2>STAFF MEMBERS</h2>

    <form [formGroup]="staffForm">
      <div class="form">
        <div class="form-field">
          <p>
            STAFF NAME
          </p>
          <ion-input placeholder="John Doe" formControlName="staffName">
          </ion-input>
        </div>
        <div>
          <app-button
            [btnType]="'btn-primary btn-raised'"
            (click)="postStaff()"
          >
            ADD STAFF
          </app-button>
        </div>
      </div>
    </form>

    <div class="grid header">
      <div>STAFF NAME</div>
      <div>PAID</div>
      <div>PROJECT %</div>
      <div>PROJECTS</div>
      <div>TO PAY</div>
    </div>
    <!-- accordion -->
    <div class="scroll-box">
      <accordion *ngFor="let staff of staffs">
        <group [staff]="staff">
          <!-- collapsible: SUB-CONTENT -->
          <table class="mytable" *ngIf="staff.projects.length">
            <!-- heading -->
            <tr class="header">
              <td>PROJECT NAME</td>
              <td>AMOUNT</td>
              <td>PROJECT %</td>
              <td>PAID ON</td>
            </tr>

            <!-- info -->
            <tr *ngFor="let project of staff.projects">
              <!-- project name -->
              <td>{{ project.profile.projectName }}</td>

              <!-- amount -->
              <td>
                <div *ngIf="project.payment.amtToBePaid; else paid">
                  ${{ project.payment.amtToBePaid }}
                </div>
                <ng-template #paid>
                  ${{ project.payment.amtPaid }}
                </ng-template>
              </td>

              <!-- project %age -->
              <td>{{ project.payment.projectPercentage }}%</td>

              <!-- date: paidOn -->
              <td>
                <div *ngIf="project.payment.paidOn; else pay">
                  {{ project.payment.paidOn | date: "dd-MM-yyyy" }}
                </div>
                <ng-template #pay>
                  -
                </ng-template>
              </td>
            </tr>
          </table>
        </group>
      </accordion>
    </div>
    <!-- end accordion -->
  </div>

  <div>
    <app-sidebar-right></app-sidebar-right>
  </div>
</ion-content>
