.body {
  float: left;
  width: 66vw;
  margin: 20px 0 0 32px;
  h2 {
    color: saddlebrown;
  }

  p {
    color: #9f6a2a;
    margin: 4px 0;
    font-size: 14px;
    font-weight: bold;
  }

  .form-field {
    padding-top: 24px;
    width: 48%;
    float: left;
    padding-right: 24px;
  }

  .submit-btn {
    padding-top: 44px;
    margin: 0 20px;
  }

  .header {
    display: grid;
    grid-auto-flow: column;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #c7a277;

    clear: both;
    padding-top: 20px;
  }
  .scroll-box {
    overflow-y: scroll;
    padding-right: 44px;
    height: 80vh;
  }
}

button {
  padding: 8px 32px;
  &.pay {
    background: linear-gradient(
      270deg,
      #ffecc9 -0.29%,
      rgba(255, 250, 234, 0.9) 100%
    );
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.14),
      -2px -2px 6px rgba(255, 255, 255, 0.5);
    border-radius: 10.4962px;
  }
  &.paid {
    background: linear-gradient(
      270deg,
      rgba(103, 220, 93, 0.3) -0.29%,
      rgba(193, 242, 189, 0) 100%
    );
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.1),
      inset -3px -3px 6px #ffffff;
    border-radius: 10.4962px;
  }
}

table.mytable tr td {
  padding: 10px;
}

.scroll-box::-webkit-scrollbar {
  width: 5px;
}

.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 60px;
  background-color: #8a4b00;
}

ion-input {
  height: 50px;

  --padding-start: 24px;
  font-size: 22px;
  color: #d1b18b;

  background: linear-gradient(90deg, #fff2d9 -1.28%, #fff9e4 103.08%);
  box-shadow: inset -7px -5px 8px rgba(255, 255, 255, 0.5),
    inset 5px 5px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
